.Rproj.user
.Rhistory
.RData
.Ruserdata
clean_headers.R
archive/
slide_content_cleaned.qmd
index.html
.DS_Store
.ipynb_checkpoints/
slide_content.Rmd
temp-walkthroughs.md
marketing-wrangling.py
marketing_campaign_ORIGINAL.csv
telco-customer-churn_ORIGINAL.csv
telco-wrangling.py